.team {
  background-color: var(--secondary-light-color);
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__description {
  text-align: center;
  padding: 30px;
}

.team__name {
  margin-bottom: 10px;

  font-weight: 500;

  color: var(--dark-color);
}

.team__position {
  margin-bottom: 16px;
}

.team__name,
.team__position {
  font-size: 16px;
  line-height: 1.18;
}

.team__list {
  --card-item: 1;

  @media screen and(min-width: 768px) {
    --card-item: 2;
  }

  @media screen and(min-width: 1200px) {
    --card-item: 4;
  }
}
