:root {
  --main-font: 'Roboto', sans-serif;
  --primary-brand-color: #2196f3;
  --secondary-brand-color: #2f303a;
  --complementary-color: #757575;
  --light-color: #ffffff;
  --dark-color: #212121;
  --secondary-dark-color: #000000;
  --secondary-light-color: #f5f4fa;
  --card-item: 4;
  --tertiary-light-color: #afb1b8;
  --transition-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}